<div class="row-fluid">
	<div class="span3">
		<input type="text" class="input-block-level" placeholder="Timecode" name="{{timecode_name}}{{id}}" value="{{timecode_value}}" />
		<input type="hidden" name="{{timecode_absolute_name}}{{id}}" value="{{timecode_absolute_value}}" />
	</div> 
	<div class="span8">
		<input type="text" class="input-block-level" placeholder="Please enter a description..." name="{{text_name}}{{id}}" value="{{text_value}}" />
	</div> 
	<div class="span1"> 
		<a href="#" title="delete this entry" class="icon-remove icon-2x delete" id="{{remove_id}}"> </a> 
	</div> 
</div>